/* set root animation */
.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}

/* push animation */
.right-to-left-enter {
  transform: translateX(100%);
}
.right-to-left-enter.right-to-left-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}
.right-to-left-exit.right-to-left-exit {
}
.right-to-left-exit.right-to-left-exit-active {
  opacity: 0;
}

/* pop animation */
.left-to-right-enter {
  transform: translateX(-100%);
}
.left-to-right-enter.left-to-right-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}
.left-to-right-exit {
}
.left-to-right-exit.left-to-right-exit-active {
  opacity: 0;
}
