/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html,
body,
#root {
  margin: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: bold;
  src: url(./fonts/SFProDisplay/SFProDisplay-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 100;
  src: url(./fonts/SFProDisplay/SFProDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url(./fonts/Inter/Inter-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url(./fonts/Inter/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url(./fonts/Inter/Inter-Medium.ttf) format("truetype");
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:active {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-rsbs-overlay] {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

[data-rsbs-header]:before {
  height: 6px !important;
  border-radius: 99px !important;
  width: 35px !important;
}

[data-rsbs-has-header="false"] [data-rsbs-header] {
  padding-top: 16px !important;
}

/* @font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter/Inter-Black.ttf) format('truetype');
} */
