/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html,
body,
#root {
  margin: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: bold;
  src: url(./fonts/SFProDisplay/SFProDisplay-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url(./fonts/Inter/Inter-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url(./fonts/Inter/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url(./fonts/Inter/Inter-Medium.ttf) format("truetype");
}

:focus {
  outline: 0 !important;
}

/* @font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter/Inter-Black.ttf) format('truetype');
} */
